<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>한솥도시락 > 회원가입 > 01.약관동의</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../css/ui.common.css">
    <link rel="stylesheet" type="text/css" href="../css/ui.pop.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../css/ui.join.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .file_input {
            font-size:45px;
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:0;
            padding:0;
            border:0;
            z-index:-1;
            opacity: 0;
            filter: alpha(opacity=0);
            -ms-filter: "alpha(opacity=0)";
            -khtml-opacity:0;
            -moz-opacity:0;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="hd_flex">
                <div class="area_flex" style="display: block;">
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join/join_step_01">회원가입</a></li>
                        <li class="sns_insta"><a href="/"><span class="blind">instagram</span></a></li>
                        <li class="sns_face"><a href="/"><span class="blind">facebook</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="hd_fixed" style="display: block;">
                <div class="hd_content">
                    <div class="logo">
                        <h1><a href="/"><span class="blind">한솥</span></a></h1>
                    </div>
                    <section id="gnb" class="area_gnb mo_version">
                        <!-- 모바일 로그인/회원가입 -->
                        <div class="m_area_flex">
                            <ul>
                                <li><a href="/login">로그인</a></li>
                                <li><a href="/join/join_step_01">회원가입</a></li>
                            </ul>
                        </div>
                        <div class="gnb_menu">
                            <ul>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">BRAND</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">브랜드 스토리</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">ESG</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">ESG경영이란?</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="/menu">MENU</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="/menu">전체메뉴</a></li>
                                            <li><a href="">식재료 이야기</a></li>
                                            <li><a href="">페루찬차마요커피</a></li>
                                            <li><a href="">단체 주문</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">STORE</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">주변점포찾기</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">EVENT</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">이 달의 이벤트</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">FRANCHISE</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">Why 한솥 가맹점</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dp1">
                                    <p class="dp1_tit"><a href="">HANSOT</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li><a href="">한솥의 약속</a></li>
                                        </ul>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </section>
                    <div class="bg_layer" style="opacity: 0; height: 0px;"></div>
                    <div class="mobile_menu_btn">
                        <div class="hamburger" id="hamburger-6">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="container" class="sub_page">
            <div class="content join">
                <section class="join_step_01 mo_version">
                    <div class="join_step_wrap">
                        <h2 class="h2_tit h2_01">회원가입</h2>
                        <div class="join_step_cont cont_st01">
                            <!-- join left -->
                            <div class="join_tit">
                                <h3 class="h3_tit">
                                    약관동의
                                </h3>
                                <p class="pc_s_block">
                                    <span class="s_block">
                                        회원가입을 위해서
                                        <em class="emphasis">이용약관 및</em>
                                    </span>
                                    <span class="s_block">
                                        <em class="emphasis">개인정보 수집 및 이용</em>
                                        에 대한
                                    </span>
                                    <span class="s_block">
                                        안내를 읽고
                                        <em class="emphasis">동의</em>
                                        해주세요.
                                    </span>
                                </p>
                                <p class="mo_s_block">
                                    <span class="s_block">회원가입을 위해서</span>
                                    <span class="s_block">
                                        <em class="emphasis">이용약관 및 개인정보 수집 및 이용</em>
                                        에 대한
                                    </span>
                                    <span class="s_block">
                                        안내를 읽고
                                        <em class="emphasis">동의</em>
                                        해주세요.
                                    </span>
                                </p>
                            </div>
                            <!-- join right -->
                            <div class="join_sub">
                                <form id="joinForm" action="/join/join_step2" method="post">
                                    <h4 class="h4_tit">
                                        이용약관
                                    </h4>
                                    <div class="textarea_wrap cont">
                                        <div class="cont_area mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"></div>
                                        <span class="form checkbox">
                                            <input type="checkbox" id="agree_use" name="agree_use" value="Y">
                                            <label for="agree_use">동의합니다</label>
                                            <span class="ck_txt">(필수)</span>
                                        </span>
                                    </div>
                                    <h4 class="h4_tit prive">
                                        개인정보 수집 및 활용동의
                                    </h4>
                                    <div class="textarea_wrap cont">
                                        <div class="cont_area mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"></div>
                                        <span class="form checkbox">
                                            <input type="checkbox" id="agree_personal" name="agree_personal" value="Y">
                                            <label for="agree_personal">동의합니다</label>
                                            <span class="ck_txt">(필수)</span>
                                        </span>
                                    </div>
                                    <h4 class="h4_tit prive">
                                        마케팅 활용목적 동의
                                    </h4>
                                    <div class="textarea_wrap cont">
                                        <div class="cont_area mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"></div>
                                        <span class="form checkbox">
                                            <input type="checkbox" id="agree_3rd" name="agree_3rd" value="Y">
                                            <label for="agree_3rd">동의합니다</label>
                                            <span class="ck_txt">(선택)</span>
                                        </span>
                                    </div>
                                </form>
                                <div class="all_check_wrap">
                                    <span class="form checkbox pa_01">
                                        <input type="checkbox" id="allchk" onclick="allchk();">
                                        <label for="allchk">위 약관에 모두 동의합니다</label>
                                    </span>
                                    <div class="btn_wrap pa_01">
                                        <span class="btn btn_st03">
                                            <a href="javascript:nextStep();" class="c_01">다음</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                function allchk() {
                    if($('#allchk').is(':checked')){
                            $('#agree_use').prop('checked', true);
                            $('#agree_personal').prop('checked', true);
                            $('#agree_3rd').prop('checked', true);
                        }else {
                            $('#agree_use').prop('checked', false);
                            $('#agree_personal').prop('checked', false);
                            $('#agree_3rd').prop('checked', false);
                        }
                }
                function nextStep() {
                    if(!$('#agree_use').is(":checked")){
                        alert("이용약관에 동의해 주세요.");
                        $('#agree_use').focus();
                        return;
                    }
                    if(!$('#agree_personal').is(":checked")){
                        alert("개인정보 보호정책에 동의해 주세요.");
                        $('#agree_personal').focus();
                        return;
                    }
                    $('#joinForm').submit();
                }
            </script>
        </div>
    </div>
</body>
</html>